* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    /* background: green; */
    height: 100vh;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

main {
    width: 20rem;
    height: 36rem;
    background: black;
    margin: auto;
    border-radius: 15px;
    padding: 1.5rem;
    /* padding-bottom: 4rem; */
    display: grid;
    grid-template-rows: minmax(4rem, auto);
}

section div {
    width: 100%;
    height: 25%;
    /* background: red; */
    padding: 1rem 0.1rem 0 1rem;
    display: flex;
    justify-content: end;
    align-items: end;
    /* margin-top: 4rem; */
    height: 3rem;
    font-size: 35px;
    margin-bottom: 1rem;
    /* border-color: black; */
    background-color: black;
    color: white;
    text-align: right;
    box-shadow: none;
    /* grid-template-rows: minmax(4rem, auto); */
}

.display {
    font-size: 1.5rem;
    color: rgb(155, 154, 154);
}

#keyboard {
    border-radius: 4px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: auto;
    margin-bottom: -5rem;
}

#keyboard {
    /* background: peru; */
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, minmax(4rem, 4rem));
    gap: 0.3rem;
    grid-template-rows: repeat(6, minmax(4rem, auto));
    cursor: pointer;

}

button {
    border-radius: 50%;
    border: none;
    background: #313131;
    color: white;
    font-size: 1rem;
}

button:hover {
    background-color: #808080;
}

button:nth-child(17) {
    /* background: red; */
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 35px;
}

.switchTheme {
    background: gray;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 35px;
    /* height: 50px; */
}

.switchTheme:hover{
    background-color: #313131;
    
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3) {
    background: white;
    color: black;
}

button:nth-child(3):hover {
    background-color: #F59706;
}

button:nth-child(2):hover {
    background-color: #F59706;
}

button:nth-child(1):hover {
    background-color: #F59706;
}

button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(19) {
    background: #F59706;
    color: white;
}

button:nth-child(19):hover {
    background-color: green;
}

button:nth-child(16):hover {
    background-color: green;
}

button:nth-child(12):hover {
    background-color: green;
}

button:nth-child(8):hover {
    background-color: green;
}

button:nth-child(4):hover {
    background-color: green;
}


.light-theme {
    /* light theme styles */
    background-color: #fff;
    color: #000;
}

.dark-theme {
    /* dark theme styles */
    background-color: #000;
    color: #fff;
}
